apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # -------------------------------------------------------------------------------------
  # API Extensions (listed individually so new clusters get what they want not everyhitng)
  # --------------------------------------------------------------------------------------
  - ../../base/apiextensions.k8s.io/customresourcedefinitions/applications.argoproj.io
  - ../../base/apiextensions.k8s.io/customresourcedefinitions/applicationsets.argoproj.io
  - ../../base/apiextensions.k8s.io/customresourcedefinitions/appprojects.argoproj.io
  - ../../base/apiextensions.k8s.io/customresourcedefinitions/cronworkflows.argoproj.io
  - ../../base/apiextensions.k8s.io/customresourcedefinitions/extensions.dashboard.tekton.dev
  - ../../base/apiextensions.k8s.io/customresourcedefinitions/prowjobs.prow.k8s.io
  - ../../base/apiextensions.k8s.io/customresourcedefinitions/sealedsecrets.bitnami.com
  - ../../base/apiextensions.k8s.io/customresourcedefinitions/workflow.argoproj.io
  - ../../base/apiextensions.k8s.io/customresourcedefinitions/workflowtemplate.argoproj.io
  # --------------------------------------------------------------------------------------
  # Namespaces
  # --------------------------------------------------------------------------------------
  - ../../base/core/namespaces/nexodus
  - ../../base/core/namespaces/nexodus-monitoring
  - ../../base/core/namespaces/nexodus-qa
  - ../../base/core/namespaces/copilot-ops
  - ../../base/core/namespaces/dex
  - ../../base/core/namespaces/ipfs
  - ../../base/core/namespaces/loki-operator
  - ../../base/core/namespaces/minio-operator
  - ../../base/core/namespaces/observability-operator
  - ../../base/core/namespaces/tempo-operator
  # --------------------------------------------------------------------------------------
  # Groups
  # --------------------------------------------------------------------------------------
  - ../../base/user.openshift.io/groups/ai4cloudops
  - ../../base/user.openshift.io/groups/copilot-ops
  - ../../base/user.openshift.io/groups/nexodus
  - ../../base/user.openshift.io/groups/rosa
  - ../../base/user.openshift.io/groups/thoth
  - ../../base/user.openshift.io/groups/thoth-devops
  # --------------------------------------------------------------------------------------
  # Operatorgroups, Catalougsources, and Subscriptions
  # --------------------------------------------------------------------------------------
  - ../../base/operators.coreos.com/catalogsources/observability-operator
  - ../../base/operators.coreos.com/catalogsources/tempo-operator
  - ../../base/operators.coreos.com/operatorgroups/nexodus
  - ../../base/operators.coreos.com/operatorgroups/loki-operator
  - ../../base/operators.coreos.com/operatorgroups/minio-operator
  - ../../base/operators.coreos.com/operatorgroups/observability-operator
  - ../../base/operators.coreos.com/operatorgroups/tempo-operator
  - ../../base/operators.coreos.com/subscriptions/crunchy-postgres
  - ../../base/operators.coreos.com/subscriptions/loki-operator
  - ../../base/operators.coreos.com/subscriptions/minio-operator
  - ../../base/operators.coreos.com/subscriptions/observability-operator
  - ../../base/operators.coreos.com/subscriptions/tempo-operator
  - ../../base/operators.coreos.com/subscriptions/opentelemetry-collector-operator
  # --------------------------------------------------------------------------------------
  # Premade bundles (some may include CRDs)
  # --------------------------------------------------------------------------------------
  - ../../bundles/acme-operator
  - ../../bundles/cert-manager
  - ../../bundles/tekton-chains
  - ../../bundles/external-secrets-operator
  - ../../bundles/vault
  - ../../bundles/grafana-operator
  - ../../bundles/openshfit-serverless
  # --------------------------------------------------------------------------------------
  # Cluster Specific Cluster-scoped resources
  # --------------------------------------------------------------------------------------
  - apiserver/api_server_cert.yaml
  - clusterversion.yaml
  - ingresscontrollers/default.yaml

patchesStrategicMerge:
  - subscriptions/serverless-operator_patch.yaml
